/* Write your CSS here */
.ul-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.search-card {
  text-align: center;
  justify-content: center;
}
